.header{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.header img{
    width: 100px;
    height: 100px;
    margin-right: 250px;
    margin-left: 50px;
}
.header h1{
    margin-left: 140px;
}

.menu{
    padding: 5px 15px;
    text-align: center;
}

.menu li{
    color: black;
    list-style: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    border-right: 2px solid black;
    cursor: pointer;
}

.seccion{
    margin: 20px;
    display: flex;
    width: 1000px;
    text-align: center;
    margin-left: 150px;
}

.col{
    background: #fffbcc;
    border: 1px solid #999;
    margin-bottom: 15px;
    left: 150px;
    flex: 1;
    justify-content: space-around;
    margin: 10px;
    border-radius: 10px;
    font-family: sans-serif;
}

.col p{
    font-family: sans-serif;
    padding: 20px;
}

.p1{
    width: 200px;
    height: 140px;
    border-radius: 10px;
}

.p1:hover{
    transform: scale(1.2);
}

.ul li{
    font-family: sans-serif;
    margin-right: 30px;
    color: black;
    list-style: none;
    font-size: 17px;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 80px;
    justify-content: space-around 20px;
    margin-top: 40px;
    height: 250px;
}

.contenedor{
    max-width: 12000px;
    height: 500px;
    width: 300px;
    margin: auto;
    display: flex;
}

.columna{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 30px;
}

.interes{
    color: white;
}

.Portal{
    display: inline-block;
    justify-content: space-between;
    color: white;
    margin-left: 30px;
}

.Contacto{
    margin-left: 30px;
    color: white;
}

ul li{
    font-size: 20px;
    display: block;
    color: white;
}

.Redes-Sociales{
    min-height: 35px;
    width: 35px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 35px;
    color: white;
    list-style: none;
}

.Redes-Sociales img{
    width: 30px;
    height: 30px;
    margin-left: 100px;
}